version: "3.9"

services:
  www:
    image: nginx:1
    volumes:
        - ./:/app
        - docker/nginx/conf.d/default.conf:/etc/nginx/conf.d/default.conf
    working_dir: /app
    depends_on:
      php:
        condition: service_started
    ports:
      - "80:80"

  php:
    image: php:8.3
    volumes:
        - ./:/app
    depends_on:
      composer:
        condition: service_completed_successfully

  composer:
    build: composer:2
    volumes:
      - ./:/app
    command: [ "composer", "install", "--no-dev" ]
